
<%- include("../_nav.ejs") %>

<div class="container">
<h1> <%= title %></h1>
<br>
<br>
<a type="button" class="btn btn-danger" href="/blogs/<%= blog._id %>/delete">Delete</a>

<br>
<br>
<div>Title: <%= blog.title %></div>
<div>Snippet: <%= blog.snippet %></div>
<div>Body: <%= blog.body %></div>

<br>
<br>
<a href="/blogs">back to blogs</a>

</div>